.statistic {
  &-backgroundBlur {
    background: #54B2FF;
    filter: blur(135px);
    height: 760px;
    width: 760px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: -351px;
  }
  &__container {
    position: relative;
    padding: 163px 93px 0 133px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__mainText {
    margin-right: 84px;
    width: 376px;
  }
  &_title {
    position: relative;
    z-index: 3;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    font-size: 15px;
  }
  &_description {
    position: relative;
    z-index: 11;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #2C2D2E;
    margin-bottom: 36px;
  }
  &__button {
    cursor: pointer;
    position: relative;
    background: none;
    z-index: 12;
    border: 0;
    height: 44px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #2C2D2E;
    display: flex;
    font-weight: 400;
    &-format {
      font-weight: 500;
      width: 73px;
      height: 44px;
      background: #2C2D2E;
      //border: 2px solid #2C2D2E;
      border-radius: 12px;
      font-size: 16px;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      margin-right: 16px;
    }
  }
  &__percents {
    z-index: 100;
    position: relative;
    background: none;
    display: flex;
    color: #2C2D2E;
    gap: 40px;
    height: 224px;
    &__item {
      width: 200px;
      background: none;
    }
  }
  &__percent {
    background: none;
    display: flex;
    align-items: flex-start;
    &-num {
      background: none;
      font-size: 90px;
      font-weight: 500;
      line-height: 84px;
    }
    &-per {
      background: none;
      font-weight: 700;
      font-size: 50px;
      line-height: 51px;
    }
    &_title {
      background: none;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__circles {
    display: flex;
    gap: 16px;
    margin-top: 40px;
    z-index: 100;
    position: relative;
    cursor: pointer;
    &_item {
      width: 8px;
      height: 8px;
      background: #2C2D2E;
      opacity: 0.5;
      border-radius: 50%;
    }
  }
}

.active {
  background: #2C2D2E;
  opacity: 1;
}

.hide {
  display: none;
}

 .statistic__percents__item {
  animation-name: fade;
  animation-duration: 1.5s;
  transition: transform 0.5s ease;
}

@keyframes fade {
  from {
    opacity: 0.7;
    //transform: translateX(20%);
  }
  to {
    opacity: 1;
    //transform: translateX(0);
  }
}






